body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: rgba(44,47,51,1);
}

.top-bar {
  background: #7289da;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-bar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}

.top-bar a:hover {
  color: black;
}
