body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: rgba(44,47,51,1);
}

.top-bar {
  background: #7289da;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-bar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}

a {
  color: #7289da;
}

.top-bar a:hover {
  color: black;
}

.command {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  
  width: auto;
  display: block;
  clear: both;
  color: #555555;
  padding: 1em 1em;
  margin: auto 40px auto 40px;
  background: #f4f4f4;
  border: solid 1px #e1e1e1
}       
